@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url(./utils.css);

:root {

  --clr-primary-1 : hsl(151, 90%, 95%);
  --clr-primary-2 : hsl(151, 90%, 80%);
  --clr-primary-3 : hsl(151, 90%, 60%);
  --clr-primary-4 : hsl(151, 90%, 40%);
  --clr-primary-5 : hsl(151, 90%, 15%);

  --clr-secondary-1 : hsl(187, 90%, 95%);
  --clr-secondary-2 : hsl(187, 90%, 80%);
  --clr-secondary-3 : hsl(187, 90%, 60%);
  --clr-secondary-4 : hsl(187, 90%, 40%);
  --clr-secondary-5 : hsl(187, 90%, 15%);
}

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  font-family: Inter;
}

a, button {
  color : var(--clr-primary-4);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

a:hover {
  color : var(--clr-primary-5);
}

p {
  margin-block : 1rem;
}

nav ul {
  list-style-type: none;
}

button, .btn {
  padding : 0.5rem 1rem;
  border-radius: 0.5rem;
  border : 0;
  outline : 0;
  background : none;
  font-weight: 600;
  cursor : pointer;
}

