@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url(./utils.css);

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  font-family: Inter;
}

nav ul {
  list-style-type: none;
}